@import './components/buttons.css';
@import './components/inputs.css';
@import './components/calendar-section.css';
@import './pages/main.css';

body, main, .calendar-section, .week-days {
    display: flex;
}

body, main {
    height: 100vh;
    flex-direction: column;
    margin: 0;

}

body, .calendar-section {
    align-items: center;
    justify-content: center;
}

body, main, .calendar-section {
    align-items: center;
}

body {
    color: var(--light);
    background: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    &::-webkit-scrollbar {
        display: none;
    }
}
