.calendar-section {
    --color: var(--teal);
    border: solid 2px var(--text);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.6s;
    font-size: 24px;
    font-weight: 700;

    &:hover {
        border-color: var(--color);
        color: var(--color);
        background-color: rgb(from var(--color) r g b / .08);
    }
}

.inactive {
    --color: hsl(from var(--text-muted) h s l / 0.5);
    border-color: var(--color);
    color: var(--color);
    cursor: default;

    &:hover {
        border-color: var(--color);
        color: var(--color);
        background-color: transparent;
    }
}

.food-frown {
    --color: var(--red);
    border-color: var(--red);
    color: var(--red);
}

.food-meh {
    --color: var(--orange);
    border-color: var(--orange);
    color: var(--orange);
}

.food-meh-blank {
    --color: var(--yellow);
    border-color: var(--yellow);
    color: var(--yellow);
}

.food-smile {
    --color: var(--blue);
    border-color: var(--blue);
    color: var(--blue);
}

.activity-done, .food-grin-stars {
    --color: var(--green);
    border-color: var(--green);
    color: var(--green);
}

@media screen and (min-width: 600px) {
    .calendar-section {
        width: 100px;
        height: 100px;
    }    
}