input[type='range'],
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

input[type='range'] {
    overflow: hidden;
    border: none;
    cursor: pointer;
    width: 8rem;
    height: 0.9em;
    padding: 0 0 0.6em 0;
    
    &::-webkit-slider-runnable-track {
        height: 0.2em;
        background: linear-gradient(to right, var(--lilac) 30%, var(--green));
        border-radius: 0.2em;
    }

    &::-webkit-slider-thumb {
        width: 0.8rem;
        height: 0.8rem;
        background: var(--teal);
        border-radius: 50%;
        cursor: pointer;
        margin-top: -0.4em;
    }
}

input[type='text']:focus,
input[type='number']:focus{
    outline: none;
    border-bottom: 1px solid var(--lilac);

    &::placeholder {
        opacity: 0.4;
        color: var(--lilac);
    }
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--light);
    outline: none;
    color: var(--green);
    text-align: center;
    transition: 0.8s ease;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
        color: var(--green);
        opacity: 0.6;
        text-align: inherit;
        transition: 0.8s ease;
    }
}

.bullet, .bullet-container {
    display: flex;
}

.bullet {
    gap: 0.5em;
    flex-direction: column;
    color: var(--lilac);
    text-transform: capitalize;
}

.bullet-container {
    gap: 2em;
}